<%- include("partials/header"); %>

<h1>Index</h1>

<% blogs.forEach(blog => { %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>" alt="">
        <p>
            <% if(blog.body.length > 100) { %>
                <%= blog.body.substring(0,100) %>...
            <% } else { %>
                <%= blog.body %>
            <% } %>
        </p>
        <a href="/blogs/<%= blog._id %>">Read More</a>
        <p><span>Post created on <%= blog.created %></p></span>
        <a href="blogs/<%= blog._id %>/edit">Edit</a>
    </div>
<% }); %>

<%- include("partials/footer"); %>